.body_backgorund {
    background-image: url("bg1.jpg");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: rgb(95, 199, 150); 
      font-size: 60px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: rgb(255, 255, 255); 
      border-style:ridge;
  }

  button {
    background-color: #dcf17c;
    border: none;
    color: rgb(101, 28, 236);
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }
  